{% extends 'parent.html.twig' %}
{% block content %}
<a href="/long" class="btn btn-primary mt-5 text-white">Séjour longs</a>
<a href="/cours" class="btn btn-primary ml-3 mt-5 text-white">Séjour courts</a>
{% endblock %}